.index_item {
    .index_item_top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        div {
            font-size: 24px;
            display: flex;
            align-items: center;
            flex-direction: column;
            :global{
                .iconfont{
                    font-size: 40px;
                 }
            }
        }
    }
}