.theme {
    .theme_tit {
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 60px 20%;

        span {
            background: rgba(255, 255, 255, 0.6);
            height: 200px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            font-size: 40px;
            font-weight: bold;
        }
    }

    .theme_footer {
        box-shadow: 5px 5px 18px #ddd;
        padding: 20px 0;

        ul {
            display: flex;

            .col_xs_4 {
                width: 33.33333333%;
                text-align: center;
                padding: 0;

                img {
                    width: 90%;
                    margin: auto;
                }
            }
        }

    }
}